@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



html, body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #222;
}

.navbar {
  padding: 0.8rem;
}

.logo {
  font-family: 'Limelight', cursive;
  font-size: 2em!important;
  letter-spacing: 0.3em;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.main-img {
  width: 100%;
  height: 100%;
}

.carousel-caption h1 {
  text-shadow: 1px 1px 10px #000;
  font-size: 2em;
}

.carousel-caption h3 {
  font-weight: bold;
  text-shadow: 1px 1px 10px #000;
}

#button {
  background-color: #7e89d6;
  border: 1px solid #7e89d6;
}

#button:hover {
  background-color: #5c67b7;
  border: 1px solid #5c67b7;
}

.padding {
  padding-bottom: 2rem;
}

#welcome {
  border-top: 2px solid #b4b4b4;
  width: 65%;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}

#lp-card {
  background: #e6c1c1;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}
#lp-card:hover {
  text-shadow: 1px 1px 5px #222;
}

.social a {
  font-size: 2em;
  padding: 2rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  color: #d5d5d5;
}

.fa-car {
  color: #22a280;
}

.fa-star {
  color: #22a280;
}

.fa-calendar {
  color: #22a280;
}

.fa-car, .fa-star, .fa-calendar {
  font-size: 4em;
  margin: 1rem;
}

.card-title {
  text-align: center;
  color: #222;
  margin-top: 1em;
  margin-bottom: 1em!important;
}

.card-title-lp {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em!important;
}

.card-title-main {
  text-align: center;
  color: #222;
  margin-top: 1em;
  margin-bottom: 1em!important;
  letter-spacing: 0.2em;
  word-spacing: 0.5em;
}
.hero-title {
  letter-spacing: 0.2em;
  word-spacing: 0.5em;
}

.table {
  margin-top: 4em;
}
p.card-text {
  min-height: 72px;

}
.card-text-lp {
  min-height: 72px;
  font-size: 1.5em;
}

#basic-nav-dropdown {
  color: rgba(0,0,0,.5);
}

#basic-nav-dropdown:hover {
  color: #222;
}

#connect {
  padding-top: 3rem;
  padding-bottom: 0;
}

.user-nav {
  color: rgba(0,0,0,.5);
}

.user-nav:hover {
  color: #222;
}

.spacing {
  letter-spacing: 0.2em;
  word-spacing: 0.2em;
  font-weight: 800;
}

[class*="col-"] {
  padding: 1rem;
}
